html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
  display: grid;
  grid-template-rows: auto min-content;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FONTS */
/* FONTS */
/* FONTS */

@font-face {
  font-display: swap;
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 400;
  src: url('../styles/fonts/libre-franklin-v14-latin/libre-franklin-v14-latin-regular.woff2')
    format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 500;
  src: url('../styles/fonts/libre-franklin-v14-latin/libre-franklin-v14-latin-500.woff2')
    format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 600;
  src: url('../styles/fonts/libre-franklin-v14-latin/libre-franklin-v14-latin-600.woff2')
    format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 700;
  src: url('../styles/fonts/libre-franklin-v14-latin/libre-franklin-v14-latin-700.woff2')
    format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Martel';
  font-style: normal;
  font-weight: 300;
  src: url('../styles/fonts/martel-v10-latin/martel-v10-latin-300.woff2')
    format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Martel';
  font-style: normal;
  font-weight: 400;
  src: url('../styles/fonts/martel-v10-latin/martel-v10-latin-regular.woff2')
    format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Martel';
  font-style: normal;
  font-weight: 700;
  src: url('../styles/fonts/martel-v10-latin/martel-v10-latin-700.woff2')
    format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Martel';
  font-style: normal;
  font-weight: 800;
  src: url('../styles/fonts/martel-v10-latin/martel-v10-latin-800.woff2')
    format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Martel';
  font-style: normal;
  font-weight: 900;
  src: url('../styles/fonts/martel-v10-latin/martel-v10-latin-900.woff2')
    format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: url('../styles/fonts/noto-serif-v23-latin/noto-serif-v23-latin-regular.woff2')
    format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Noto Serif';
  font-style: italic;
  font-weight: 400;
  src: url('../styles/fonts/noto-serif-v23-latin/noto-serif-v23-latin-italic.woff2')
    format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 600;
  src: url('../styles/fonts/noto-serif-v23-latin/noto-serif-v23-latin-600.woff2')
    format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 700;
  src: url('../styles/fonts/noto-serif-v23-latin/noto-serif-v23-latin-700.woff2')
    format('woff2');
}

/* REUSABLE */
/* REUSABLE */
/* REUSABLE */

:root {
  --button-color: rgb(86, 123, 149);
  --button-border: rgb(50, 104, 145);
  --negative-numbers: rgb(166, 27, 30);
  --light-border: rgb(232, 232, 232);
  --main-par: #5a5a5a;
  --time-status: #555555;
  --button-hover: rgb(246, 246, 246);
  --text-hover: rgb(80, 80, 80);
}

.mid-border {
  width: 1px;
  height: 100%;
  color: var(--light-border);
  background-color: var(--light-border);
}

.underlined-first {
  border-bottom: 1px solid var(--light-border);
  padding-bottom: 15px;
}

.underlined-second {
  border-bottom: 1px solid var(--light-border);
  padding: 15px 0;
}

.underlined-second-black {
  border-bottom: 1px solid black;
  padding: 15px 0;
}

.space-last {
  padding-top: 15px;
}

.second-heading {
  font-family: 'Noto Serif', serif;
  line-height: 1.15em;
  font-size: 1.375rem;
  font-weight: 600;
}

.third-heading {
  font-family: 'Martel', serif;
  font-size: 1rem;
  line-height: 1.2em;
  letter-spacing: 0.01em;
  font-weight: 800;
}

.third-heading-next {
  font-family: 'Noto Serif', serif;
  line-height: 1.5em;
  font-size: 0.9rem;
  letter-spacing: 0.01em;
  font-weight: 700;
}

.third-heading-more-news {
  font-family: 'Noto Serif', serif;
  font-size: 1.125rem;
  line-height: 1.2em;
  letter-spacing: 0.01em;
}

.third-heading-thinner {
  font-family: 'Martel', serif;
  font-size: 1.5rem;
  line-height: 1.8rem;
  font-weight: 300;
}

.third-heading-smaller {
  font-family: 'Noto Serif', serif;
  font-size: 1rem;
  line-height: 1.2em;
  letter-spacing: 0.01em;
  font-weight: 700;
}

.third-heading-author {
  font-family: 'Noto Serif', serif;
  font-size: 0.6875rem;
  font-weight: 700;
  margin-bottom: 0.25rem;
  line-height: 1.35em;
  letter-spacing: 1px;
  color: var(--time-status);
}

.third-heading-opinion {
  font-family: 'Noto Serif', serif;
  font-size: 1.25rem;
  line-height: 1.15em;
  letter-spacing: 0.0055em;
  font-weight: 400;
}

.fourth-heading {
  font-size: 0.8125rem;
  line-height: 1.375rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin-bottom: -5px;
}

.fifth-heading {
  line-height: 1.25rem;
  font-size: 0.625rem;
  letter-spacing: 0.1em;
  font-family: 'Libre Franklin', sans-serif;
  letter-spacing: 0.1rem;
  margin-bottom: 0.25rem;
}

.fifth-heading-thicker {
  line-height: 1.25rem;
  font-size: 0.625rem;
  letter-spacing: 0.1em;
  font-family: 'Libre Franklin', sans-serif;
  letter-spacing: 0.1rem;
  margin-bottom: 0.25rem;
  font-weight: 600;
}

.text-image-2-col {
  display: grid;
  grid-template-columns: 1fr 0.7fr;
  padding-right: 17px;
  gap: 20px;
  border-right: 1px solid var(--light-border);
}

.text-2-col {
  padding-left: 17px;
}

.text-image-2-col video {
  width: 100%;
  height: 100%;
}

.col-2-article {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.first-article-news-image-showroom {
  display: grid;
  grid-template-rows: min-content auto;
  gap: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}

.theme-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.theme-buttons button {
  padding: 6px 15px;
  background-color: white;
  border: none;
  border-radius: 4px;
  color: rgb(88, 88, 88);
}

.active-theme-button {
  background-color: var(--light-border) !important;
  color: black !important;
}

.first-article-news-image-articles {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.first-article-news-image-articles article:not(:last-child) {
  position: relative;
}

.first-article-news-image-articles article:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 0;
  right: -10px;
  width: 1px;
  height: 100%;
  background-color: var(--light-border);
}

.first-article-news-image-articles article img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.quadruple-article > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

.group-11-articles article {
  display: grid;
  grid-template-rows: min-content;
}

.quadruple-article article:first-child,
.quadruple-article article:nth-child(2) {
  border-bottom: 1px solid var(--light-border);
}

.group-11-articles article:nth-child(2),
.group-11-articles article:last-child {
  padding-left: 15px;
}

.quadruple-article article:nth-child(3),
.quadruple-article article:last-child {
  padding-top: 20px;
}

.quadruple-article article {
  display: grid;
  grid-template-columns: auto auto;
  padding-bottom: 20px;
  gap: 15px;
}

.quadruple-article-image img {
  width: 151px;
  height: 101px;
}

.opinion {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.3em;
  margin-bottom: 10px;
  display: block;
  margin-top: 5px;
}

.recommendation {
  font-size: 0.875rem;
  line-height: 1.25em;
  font-weight: normal;
  font-style: italic;
  letter-spacing: 0.01em;
  display: block;
  font-family: 'Noto Serif', serif;
  margin-top: -8px;
  margin-bottom: 10px;
}

/* TEXT */
/* TEXT */
/* TEXT */

.onimage-text h4 {
  line-height: 1.25em;
  font-size: 0.625rem;
  letter-spacing: 0.1em;
  font-weight: 600;
  font-family: 'Libre Franklin', sans-serif;
  letter-spacing: 0.1rem;
  white-space: normal;
  color: white;
  transform: translateX(3px);
}

.onimage-text h3 {
  font-size: 1.75rem;
  line-height: 1.15em;
  font-weight: 700;
  color: white;
  font-family: 'Martel', serif;
  margin: 4px 0 7px 0;
}

.onimage-text p {
  font-family: 'Martel', serif;
  color: var(--main-par);
  font-size: 0.875rem;
  line-height: 1rem;
  font-weight: 500;
  color: white;
}

.main-paragraph {
  font-family: 'Martel', serif;
  margin-top: 0.5rem;
  color: var(--main-par);
  font-size: 0.875rem;
  line-height: 1rem;
  font-weight: 500;
}

.article-types-paragraph {
  letter-spacing: 0.2px;
  color: rgb(18, 18, 18);
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-family: 'Noto Serif', serif;
  font-weight: 400;
}

.next-paragraph {
  font-family: 'Martel', serif;
  margin-top: 0.25rem;
  color: var(--main-par);
  font-size: 0.775rem;
  line-height: 1.1875rem;
  letter-spacing: 0.1px;
  font-weight: 500;
}

.time-status {
  margin-top: 0.25rem;
  display: block;
  color: var(--time-status);
  line-height: 1.25rem;
  font-size: 0.625rem;
  letter-spacing: 0.1em;
  font-family: 'Libre Franklin', sans-serif;
}

.img-article-img img {
  width: 91px;
  height: 91px;
  transform: translateY(7px);
}

/* WRAPPER */
/* WRAPPER */
/* WRAPPER */

.wrapper {
  min-height: 100vh;
  display: grid;
  grid-auto-rows: min-content;
  grid-auto-flow: row;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 3%;
}

/* AD BANNER */
/* AD BANNER */
/* AD BANNER */

.top-banner-ad {
  width: 100%;
  max-height: 250px;
  display: none;
}

.top-banner-ad img {
  width: 100%;
  max-height: 250px;
}

/* HEADER */
/* HEADER */
/* HEADER */

header {
  display: grid;
  grid-template-rows: min-content min-content;
  gap: 30px;
  margin-top: 10px;
}

.phone-user {
  display: none;
}

.subscription {
  margin-left: auto;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.6s ease 0s;
  white-space: nowrap;
  vertical-align: middle;
  background-color: transparent;
  color: rgb(50, 104, 145);
  display: inline-block;
  font-size: 10px;
  font-family: 'Libre Franklin', sans-serif;
  display: none;
}

.well-control-back,
.cooking-control-back,
.well-control,
.cooking-control {
  opacity: 0;
}

.control-button,
.control-button-back {
  display: none;
}

.control-button button i,
.control-button-back button i {
  color: black;
}

.countries-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.header-icons button {
  background-color: white;
  border: none;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.6s background-color ease;
  color: black;
}

.header-icons button i {
  font-size: 1rem;
  color: black;
}

.header-icons button:first-child {
  margin-right: 10px;
}

.countries-list {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.countries-list li {
  padding: 7px 8px 6px 8px;
  cursor: pointer;
  border-radius: 3px;
  transition: 0.6s background-color ease;
}

.countries-list li a {
  text-decoration: none;
  font-family: 'Libre Franklin', sans-serif;
  color: black;
}

.countries-list li {
  font-weight: 500;
  font-size: 0.825rem;
}

.countries-list li:first-child {
  font-weight: 700;
}

.logo-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.offer-buttons a:first-child {
  margin-right: 7px;
}

.offer-buttons a:last-child {
  margin-left: 7px;
}

.offer-buttons a {
  background-color: var(--button-color);
  padding: 8px 12px;
  color: white;
  font-weight: 700;
  font-size: 0.6875rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  white-space: nowrap;
  line-height: 11px;
  cursor: pointer;
  border: 1px solid var(--button-border);
  font-family: 'Libre Franklin', sans-serif;
  border-radius: 3px;
  transition: 0.6s background-color ease;
}

.logo {
  width: 400px;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

.logo-panel {
  padding: 10px 0;
}

.logo-panel time {
  line-height: 23px;
  font-weight: 700;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 0.7875rem;
  letter-spacing: 0.005cm;
}

.logo-panel time a {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 0.75rem;
  font-weight: 500;
}

.stock-name {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 0.75rem;
  transition: 0.5s;
}

.stock-info {
  opacity: 1;
  transition: opacity 0.5s;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s;
}

.papers-date {
  font-weight: 500;
}

.stock-percentage {
  color: var(--negative-numbers);
}

.stock-percentage {
  margin-left: 15px;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 0.75rem;
  transition: 0.5s;
}

.stock-down {
  transform: translate(-2px, -1px);
  font-size: 0.6rem;
  color: var(--negative-numbers);
}

/* NAV */
/* NAV */
/* NAV */

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--light-border);
  border-bottom: 1px solid black;
  margin-top: 10px;
  min-height: 70px;
  width: 100%;
}

.appearing-nav {
  position: fixed;
  top: -200px;
  width: 100vw;
  background-color: white;
  left: 0;
  height: 52px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.28);
  border: none;
  transition: 1s;
  z-index: 10;
}

nav ul li {
  display: inline-block;
  padding: 0 12px;
  font-size: 0.75rem;
  font-family: 'Libre Franklin', sans-serif;
  letter-spacing: 0.05em;
}

nav ul li a {
  cursor: pointer;
}

nav ul li i {
  font-size: 0.7rem;
  margin-left: 5px;
  color: grey;
}

/* MAIN */
/* MAIN */
/* MAIN */

main {
  border-top: 1px solid black;
  margin-top: 3px;
  display: grid;
  grid-template-columns: auto minmax(300px, 1fr);
  grid-auto-rows: auto;
  padding: 20px 0 40px 0;
  height: auto;
}

.first-articles {
  display: grid;
  grid-auto-rows: auto;
  gap: 17px;
  padding-right: 15px;
  border-right: 1px solid var(--light-border);
}

.first-article-news-basic {
  display: grid;
  grid-template-columns: clamp(250px, 250px, 300px) minmax(430px, auto);
  grid-auto-rows: min-content;
  border-bottom: 1px solid black;
  column-gap: 25px;
}

.first-article-news-basic:not(:first-child) {
  padding-bottom: 20px;
}

/* TRY */
/* TRY */
/* TRY */

.first-article-news-basic article {
  grid-column: 1 / 2;
}

.group-1 .image-article {
  padding-bottom: 15px;
}

.aside1 article > a {
  width: 100%;
}

.first-article-news-basic > figure {
  grid-column: 2 / -1;
  grid-row-start: 1;
  grid-row-end: 5;
}

.group-1 > figure img {
  width: 100%;
  max-height: 90%;
}

.first-articles .first-article-news-basic:not(:first-child) > figure img,
.first-articles .first-article-news-basic:not(:first-child) video {
  width: 100%;
}

/* TRY */
/* TRY */
/* TRY */

.first-article-news-full-image {
  display: grid;
  grid-auto-rows: auto;
  border-bottom: 1px solid black;
  position: relative;
  gap: 17px;
  padding-bottom: 20px;
}

.first-article-news-2-col {
  display: grid;
  grid-template-rows: min-content auto;
  border-bottom: 1px solid black;
  gap: 23px;
  padding-bottom: 20px;
}

.first-list-phone {
  display: none !important;
}

.list-chapters ul::-webkit-scrollbar {
  display: none;
}

.list-chapters ul {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.full-image-article {
  position: relative;
}

.onimage-text {
  width: 50%;
  display: grid;
  grid-template-rows: repeat(3, min-content);
  position: absolute;
  bottom: 50px;
  left: 30px;
}

.full-image-article img {
  width: 100%;
}

.main-news-universal img {
  width: 100%;
}

.navigation-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-dots {
  display: grid;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  gap: 6px;
  margin-left: auto;
  transform: translateX(50%);
}

.navigation-arrows {
  margin-left: auto;
}

.navigation-article-arrows {
  grid-column: 1 / -1;
  margin-left: auto;
}

.navigation-arrows span:first-child {
  margin-right: 5px;
}

.navigation-article-arrows button {
  background-color: transparent;
  border: none;
}

.left-button i,
.left-button {
  color: rgb(232, 232, 232);
  font-size: 1.2rem;
}

.right-button i,
.right-button {
  color: black;
  font-size: 1.2rem;
}

.col-2-image-part {
  display: grid;
  grid-template-rows: auto min-content;
  gap: 20px;
}

.col-2-image-part img {
  width: 100%;
  height: auto;
}

.navigation-dots span {
  background-color: black;
  color: black;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.main-news-universal video {
  width: 100%;
}

.image-article {
  display: grid;
  grid-template-columns: min-content auto;
  gap: 13px;
}

.image-article .time-status {
  display: flex;
}

.time-status-based {
  transform: translate(5px, 2px);
}

.time-status i {
  font-size: 1rem;
  transform: translateY(7px);
}

.image-article span {
  margin-top: 4px;
}

.list-chapters {
  display: flex;
}

.list-chapters h3 {
  margin-right: 15px;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 700;
}

.list-chapters ul li {
  display: inline-block;
  margin-right: 10px;
  font-size: 0.8125rem;
  line-height: 1rem;
  font-weight: 500;
  font-family: 'Libre Franklin', sans-serif;
}

.quadruple-article article:first-child > .quadruple-article-image,
.quadruple-article article:nth-child(3) > .quadruple-article-image {
  padding-right: 15px;
  border-right: 1px solid var(--light-border);
}

/* ASIDE */
/* ASIDE */
/* ASIDE */

aside {
  display: grid;
  grid-auto-rows: min-content;
  grid-auto-flow: row;
  padding-left: 15px;
}

.specific-section,
.specific-section-ad {
  position: relative;
}

.image-above-text {
  display: grid;
  grid-auto-rows: min-content;
  gap: 10px;
}

.image-next-text {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 3fr 1fr;
  column-gap: 25px;
  gap: 4px;
}

.image-next-text div:last-child {
  display: flex;
  justify-content: flex-end;
}

.max-width {
  width: 100%;
}

.profile-width {
  width: 40px;
  height: 40px;
}

.aside-group-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.aside-group-2 article:first-child {
  padding-right: 15px;
  border-right: 1px solid var(--light-border);
}

.aside-group-2 article:last-child {
  padding-left: 15px;
}

.aside-group-3-opinion article:last-child {
  grid-auto-rows: min-content;
  grid-template-columns: 1fr;
}

.slide1 a:first-child,
.slide2 a:first-child,
.slide3 a:first-child {
  border-right: 1px solid var(--light-border);
  padding-right: 15px;
}

.slide1 a:last-child,
.slide2 a:last-child,
.slide3 a:last-child {
  padding-left: 15px;
}

.aside-group-6 img {
  width: 90px;
  height: 90px;
}

.group-6 article:nth-child(2) {
  padding-bottom: 15px;
}

.heading-group {
  display: grid;
  grid-template-rows: min-content min-content;
}

.aside-group-4 {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
}

.scroll-articles {
  display: grid;
  grid-auto-columns: 100%;
  grid-auto-flow: column;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  width: 100%;
  overflow: hidden;
}

.slide1,
.slide2,
.slide3 {
  display: flex;
}

.aside-group-6 article:last-child {
  padding-top: 15px;
}

.bottom-border {
  height: 1px;
  display: block;
  width: 100%;
  background-color: black;
  grid-column: 1 / -1;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* MIDDLE AD */
/* MIDDLE AD */
/* MIDDLE AD */

.middle-ad {
  height: auto;
  grid-column: 1 / -1;
  display: grid;
  grid-template-rows: min-content auto;
  width: 100vw;
  margin-left: calc((100% - 100vw) / 2);
  overflow: hidden;
  background-color: black;
  margin-bottom: 40px;
  margin-top: 10px;
}

a {
  text-decoration: none;
  color: currentColor;
}

.middle-ad img {
  width: calc(100% + 6px);
  transform: translateX(-3px);
  overflow: hidden;
}

.ad-announcment {
  color: var(--time-status);
  background-color: rgb(247, 247, 247);
  display: block;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  padding: 11px 0 10px 0;
}

.first-couple article:last-child {
  border-bottom: 1px solid var(--light-border);
}

.first-couple article,
.second-couple a:not(:last-child) {
  grid-template-rows: 1fr;
  grid-template-columns: auto min-content;
  align-items: center;
}

.second-couple a:last-child {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
}

/* MORE NEWS SECTION */
/* MORE NEWS SECTION */
/* MORE NEWS SECTION */

.more-news {
  border-top: 1px solid black;
}

.specific-section {
  display: grid;
  grid-column: 1 / -1;
  grid-template-rows: min-content auto;
  gap: 16px;
  border-bottom: 1px solid black;
  padding: 10px 0 24px 0;
}

.specific-section-ad {
  display: grid;
  grid-column: 1 / -1;
  grid-template-rows: min-content auto;
  gap: 16px;
  padding: 10px 0 24px 0;
}

.specific-section-heading h3 {
  font-size: 0.875rem;
  line-height: 1.3em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.more-news-articles {
  display: grid;
  grid-template-columns: 1fr 2fr 1.3fr;
}

.more-news-text {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  padding-right: 20px;
}

.more-news-image article {
  display: grid;
  grid-template-rows: min-content min-content;
  gap: 20px;
}

.more-news-image {
  padding: 0 15px;
  border-left: 1px solid var(--light-border);
  border-right: 1px solid var(--light-border);
}

.more-news-articles img {
  width: 100%;
}

/* WELL SECTION */
/* WELL SECTION */
/* WELL SECTION */

.full-row {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  gap: 40px;
}

.well-articles {
  position: relative;
}

.full-row article {
  position: relative;
}

.full-row article:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 0;
  right: -20px;
  width: 1px;
  height: 100%;
  background-color: var(--light-border);
}

.full-row img {
  width: 100%;
}

/* CULTURE AND LIFESTYLE */
/* CULTURE AND LIFESTYLE */
/* CULTURE AND LIFESTYLE */

.culture {
  border-top: 1px solid black;
}

.culture-articles {
  display: grid;
  grid-template-columns: auto 345px;
}

.culture-main {
  display: grid;
  grid-template-rows: auto min-content;
  justify-items: center;
  gap: 20px;
}

.culture-main a:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

.culture-text {
  width: 70%;
}

.culture-text h3,
.culture-text p,
.culture-text span {
  text-align: center;
}

.culture-aside {
  display: grid;
  grid-template-rows: min-content min-content;
  gap: 30px;
  border-left: 1px solid var(--light-border);
  padding-left: 15px;
}

.double1,
.double2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  position: relative;
}

.culture-aside a {
  position: relative;
}

.double1 a:not(:last-child)::after,
.double2 a:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 0;
  right: -20px;
  width: 1px;
  height: 100%;
  background-color: var(--light-border);
}

.double2::after {
  content: '';
  position: absolute;
  top: -17px;
  width: 100%;
  height: 1px;
  background-color: var(--light-border);
}

/* ATHLETIC */
/* ATHLETIC */
/* ATHLETIC */

.heading-next-sub {
  display: flex;
}

.heading-next-sub h3 {
  margin-right: 10px;
  font-family: 'Martel', serif;
  font-size: 1rem;
  line-height: 1.25em;
  letter-spacing: 0.25px;
  font-weight: 900;
}

.heading-next-sub span {
  font-family: 'Noto Serif', serif;
  font-size: 0.875rem;
  line-height: 1.25em;
  letter-spacing: 0.01em;
  font-weight: normal;
  font-style: italic;
  transform: translateY(1px);
}

.athletic-main {
  display: grid;
  grid-template-columns: auto minmax(275px, 1fr) auto;
  grid-template-rows: min-content min-content;
  gap: 20px;
  padding-right: 20px;
}

.athletic-main article:first-child {
  grid-column: 1 / 2;
  grid-row: 1;
}

.athletic-main article:last-child {
  grid-column: 3 / 4;
  grid-row: 1;
}

.athletic-main figure {
  grid-column: 2 / 3;
  grid-row-start: 1;
  grid-row-end: 4;
  position: relative;
}

.athletic-main img {
  width: 100%;
  position: absolute;
}

.athletic-aside,
.wirecutter-aside {
  display: grid;
  grid-auto-rows: min-content;
  grid-auto-flow: row;
  border-left: 1px solid var(--light-border);
  padding-left: 20px;
}

.athletic-articles,
.wirecutter-articles {
  display: grid;
  grid-template-columns: auto 345px;
}

/* WIRECUTTER */
/* WIRECUTTER */
/* WIRECUTTER */

.wirecutter-main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: min-content min-content;
  padding-right: 20px;
  gap: 20px;
}

.wirecutter-main article {
  grid-column: 1 / 2;
}

.wirecutter-main figure {
  grid-column: 2 / -1;
  grid-row-start: 1;
  grid-row-end: 4;
  position: relative;
}

.wirecutter {
  border-top: 1px solid black;
}

.wirecutter-main img {
  width: 100%;
}

/* GAMES */
/* GAMES */
/* GAMES */

.full-double-row {
  display: grid;
  grid-template-rows: auto auto;
  position: relative;
}

.double-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  position: relative;
}

.double-row article {
  width: 100%;
}

.double-row a {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.double-row img {
  width: 90px;
  height: 90px;
}

.full-double-row1 {
  border-bottom: 1px solid var(--light-border);
  padding-bottom: 20px;
}

.full-double-row2 {
  padding-top: 20px;
}

.double-row a:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 0;
  right: -10px;
  width: 1px;
  height: 100%;
  background-color: var(--light-border);
}

/* ARTICLE TYPES */
/* ARTICLE TYPES */
/* ARTICLE TYPES */

.article-types {
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-column: 1 / -1;
  gap: 60px;
}

.article-types-heading {
  font-size: 0.9rem;
  line-height: 1.375rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.news-article-type {
  display: grid;
  grid-template-rows: min-content auto;
  gap: 12px;
}

.news-type-articles {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 30px;
  row-gap: 60px;
}

.article-types article {
  display: grid;
  grid-template-rows: repeat(5, min-content);
  gap: 7px;
}

.article-types img {
  width: 100%;
}

/* FOOTER */
/* FOOTER */
/* FOOTER */

footer {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  gap: 20px;
}

.article-types-phone-version {
  display: none;
}

.list-content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  border-bottom: 1px solid var(--light-border);
  padding-bottom: 20px;
}

footer img {
  width: 184px;
}

.footer-list {
  display: grid;
  grid-template-rows: min-content min-content;
  gap: 7px;
}

.footer-ul {
  display: grid;
  grid-auto-rows: min-content;
  gap: 10px;
}

.footer-ul li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.list-col6 {
  border-left: 1px solid var(--light-border);
  padding-left: 15px;
}

.footer-more-lists {
  display: grid;
  grid-template-rows: repeat(4, min-content);
  gap: 20px;
}

.footer-more-lists ul {
  display: grid;
  grid-auto-rows: min-content;
  gap: 10px;
}

.footer-more-lists ul li:nth-child(2) {
  display: flex;
}

.footer-more-lists ul:first-child li {
  font-size: 16px;
  font-weight: 700;
  line-height: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.footer-more-lists ul:last-child li,
.footer-more-lists ul:nth-child(2) li {
  font-size: 11px;
  font-weight: 500;
  line-height: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.footer-more-lists ul:nth-child(2) {
  border-bottom: 1px solid var(--light-border);
  padding-bottom: 7px;
}

.footer-more-lists .material-symbols-outlined,
.footer-more-lists i {
  font-size: 0.9rem;
  margin-right: 4px;
}

.footer-more-lists ul li a {
  font-size: 1rem;
}

.digital {
  display: flex;
}

.li-special-text {
  transform: translateX(3px);
}

.settings-panel {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  align-items: flex-start;
  margin-top: -15px;
}

.settings-panel li {
  color: #666;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 0;
  white-space: nowrap;
  font-size: 10px;
}

/* AUTHOR */
/* AUTHOR */
/* AUTHOR */

.author-clone {
  background-color: black;
  height: 100px;
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.author-clone i {
  color: white;
  font-size: 3rem;
}

/* FIGCAPTION */
/* FIGCAPTION */
/* FIGCAPTION */

.fig {
  display: flex;
  justify-content: flex-end;
  font-size: 0.56rem;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--time-status);
  line-height: 1.2em;
}

.group-9 .fig {
  margin-top: -10px;
  margin-bottom: 5px;
}
